.x-panel-body-default {
  background: none;
}
.cardStyle {
  position: absolute;
  background-color: #d2d2d2;
  background-image: url(../img/grid.png);
  background-position: 0 0;
  background-size: 180px;
}
.totalCardInfo {
  user-select: none;
}
.addCard {
  background-color: #0f7c10;
  border-color: #0a340a;
  border-radius: 5px;
}
.addCard:hover {
  background-color: #0a340a;
}
.delCard {
  background-color: #ac2020;
  border-color: #470404;
  border-radius: 5px;
}
.delCard:hover {
  background-color: #ac3020;
}
.addSVG {
  background-color: #ac20ac;
  border-color: #531253;
  border-radius: 5px;
}
.addSVG:hover {
  background-color: #e6e6;
}
.addDesc {
  border-radius: 5px;
}
.refreshCard {
  background-color: #ac2020;
  border-color: #470404;
  border-radius: 5px;
}
.refreshCard:hover {
  background-color: #ac3020;
}
svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.svgGrid {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}